<!DOCTYPE html>
<html>
  <head>
    <title>PiTender</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Monofett&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
  </head>

  <body>
    <div class="hero">
      <h1>PiTender</h1>
    </div>
    <div class="settings">
      <a href="/" class="button button-sm">Back</a>
    </div>
    <div class="flex justify-center">
      <a href="/bottle/1" class="button button-sm">One</a>
      <a href="/bottle/2" class="button button-sm">Two</a>
      <a href="/bottle/3" class="button button-sm">Three</a>
      <a href="/bottle/4" class="button button-sm">Four</a>
    </div>
  </body>
</html>
